.custom-navbar {
    background-color: #3e3e64;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: white;
}

.custom-navbar .nav-link:hover {
    color: #8b8b8b;
    /* rosa hover-effekt */
}


.welcome {
    color: rgb(55, 189, 55);
    font-size: 20px;
    font-weight: bolder;
    margin: 5px;
}


.searchbar {
    width: 200px;
}