.bounce {
    display: inline-block;
    animation: bounce 0.6s ease;
}

@keyframes bounce {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    70% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}